.app-header {
  font-size: 4rem;
  text-shadow: var(--main-text-shadow);
  color: var(--main-color);
  user-select: none;
  position: fixed;
  top: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.counter {
  position: fixed;
  bottom: 0.8rem;
  right: 0.8rem;
  color: var(--main-color);
  font-size: 2em;
  text-shadow: var(--main-text-shadow);
  user-select: none;
  z-index: -1;
}
.word {
  color: var(--word-color);
  font-size: 2rem;
  width: fit-content;
  cursor: pointer;
  user-select: none;
  position: fixed;
  z-index: 10;
  transition: opacity 400ms ease-in-out;
}
.word:hover {
  opacity: 0.3;
}

@media screen and (min-width: 600px) {
  .app-header {
    font-size: 7rem;
  }
  .word {
    font-size: 3.5rem;
  }
  .counter {
    font-size: 3em;
  }
}
