.app-header {
  font-size: 4rem;
  text-shadow: 0 0 0.25rem rgba(255, 255, 255, 0.6);
  color: var(--main-color);
  user-select: none;
  position: fixed;
  top: 1.25rem;
  left: 1.25rem;
  z-index: -1;
}

@media screen and (min-width: 600px) {
  .app-header {
    font-size: 7rem;
  }
}
