:root {
  --main-bg-color: #242424;
  --main-color: #242424f8;
  --main-text-shadow: 0 0 0.25rem rgba(255, 255, 255, 0.6);
  --white-color: #e2e2e2;
  --button-color: #5e5e5e;

  font-family: "Luckiest Guy", cursive;
  font-size: 12pt;
  color: var(--main-color);
  background-color: var(--main-bg-color);
}
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}
